<html>
<title>Monster Truck Controller</title>
<body>
<form action="/controlit" method="post">
<table style = "width:100%">
	<tr>
		<td></td>
		<td>
		 <input type="submit" value="Foward" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 180%"></input>
		<td></td>
		<td>
		 <input type="submit" value="Fast" name ="buttonPress" style = "height:150px;width:150px; color:#a7cb00; font-weight:bold;font-size: 200%"></input>
		</td>

	</tr>
	<tr>
		<td>
		 <input type="submit" value="Left" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
		</td>
		<td>
		 <input type="submit" value="Back" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
		</td>
		<td>
		 <input type="submit" value="Right" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
		<td>
		 <input type="submit" value="Slow" name ="buttonPress" style = "height:150px;width:150px; color:#f00; font-weight:bold; font-size: 200%"></input>
		</td>
	</tr>

</table>
</form>
</body>
</html>
